/* ----- Reset ----- */
*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #ffff;
    color: #222;
}

/* ----- Header ----- */
header {
    width: 100%;
    padding: 20px 30px;
    background: #3F944F;
    display: flex;
    align-items: center;
    gap: 20px;
}
header img {
    height: 70px;
}
header h2 {
    font-size: 2.3rem;
    color: white;
    margin: 0;
}
header h3 {
    font-size: 1.3rem;
    color: whitesmoke;
    margin: 0;
    font-style: italic;
}

/* Footer */
footer {
    margin-top: 40px;
    padding: 20px;
    background: #3F944F;
    text-align: center;
}
footer p {
    margin: 0;
    color: white;
    font-size: .9rem;
}